@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
$main-font: 'Tajawal', sans-serif;
$main-color: #2c629d;
$sec-color: #b02c3d;
$dark-color: #003c6b;
$main-font-family: mitra;
$sec-font-family:tahoma;
$thr-font-family:cairo;
$title-font-color: #223d58;
$article-font-color: #808080;
$twitter-bg-hover: #0c7abf;
$new-span: hsl(28, 93%, 58%);
$twitter-bg: #1b95e0;
$facebook: #3c5a99;
$instagram: #c13584;